@media (max-width:768px) {

    #header__home {
        background-position: 40%;

        h1 {
            font-size: 3rem;
        }
    }

    #header__inner {
        height: auto;
    }

    .main-nav {
        display: block;
        text-align: center;

        &__items {
            justify-content: center;
        }
    }

    #home__a .skills {
        grid-template-columns: repeat(2, 1fr);

        div {
            padding: .5rem;
        }
    }

    #home__b .profile {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #home__c .process {
        grid-template-columns: repeat(2, 1fr);
    }

    #about-a .info {
        display: block;
        img{
            width: 80%;
        }
    }

    #about-c .about-logos {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #about-d .referances {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        div {
            &:last-child {
                display: none;
            }
        }
    }

    #projects .items{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:576px) {
    body{
        font-size: 14px;
    }

    #header__home{
        height: 100vh;

        h1 {
            font-size: 2.7rem;
            width: 250px;
        }

        a.btn-light{
            padding: .5rem 1rem;
        }
    }

    #header__home .header-content{
        padding: 5.5%;
        position:absolute;
        margin-top: 1.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }   

    #home__a .skills{
        grid-template-columns: repeat(1,1fr);
        div{
            padding: .5rem 1.5rem;
        }
    }

    #home__b .profile{
        grid-template-columns: repeat(1,1fr);
        gap: 0;
    }

    #home__c .process{
        grid-template-columns: repeat(1,1fr);
    }

    #main-footer{
        height: auto;
    }

    #main-footer .footer-content{
        display: block;
        text-align: center;
        height: auto;
        p{
            padding: 1rem;
        }
        .social{
            padding: 1rem;
        }
    }

    #about-d .referances{
        grid-template-columns: repeat(1,1fr);
        gap: 2.5rem;
        div{
            &:last-child{
                display: block;
            }
        }
    }

    #projects .items{
        grid-template-columns: repeat(1,1fr);
    }

    #contact-a .form-fields{
        padding: .5rem;
        grid-template-areas: 
        "names names"
        "email email"
        "subject subject"
        "phone phone"
        "message message"
        "button button";
    }

    #contact-b .contact-info{
        grid-template-columns: repeat(1,1fr);
        font-size: 1.3rem;
        gap: .5rem;
        div{
            padding: 2rem;
            border-bottom: 3px dotted #eee;

            &:last-child{
                border-bottom: none;
            }
        }
    }

    .main-nav__items li{
        padding: 1rem .75rem;
    }
}